.head {
    font-family: 'Lora', serif;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-bottom: solid 5px #05878a;
}

 /* Name element */
 .banner {
     padding: 0;
 }

 .name {
    background-color: #E6E6E6;
    color: #05878a;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    height: auto;
    margin-bottom: 0;   
 }


 /* Main Game Box Context */

/* Main Game Background*/
 .background {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-image: url("../images/diamonds.png");
    background-size: 100% auto;
}

.directionsBox {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#074e67;
}

#dircBox {
    background-color: #D8D8D8;
}

/* Instruciton Baner */
.inxsBanner {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#074e67;
}

#inxsBox {
    background-color: #D8D8D8;
}

/* Wins, Goal, Score, Losses */

.scoreBox {
    height: 125px;
    background-color: #D8D8D8;
    border: dotted 7px #dd9933;
    margin-top: 15px;
}

.smallboxtext {
    font-family: 'Trirong', serif;
    font-size: 20px;
    color: #67074E;
    text-align: center;
}

.smallboxnumbers {
    font-family: 'Trirong', serif;
    font-size: 25px;
    color: #67074E;
    text-align: center;

}

/* Click Gems */

.clickCrystals {
    text-align: center;
}

.positionCrystal {
    height: 200px;
    width: 150px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: dotted 5px #5a175d;

}

.customPic {
    width: 125px;
    height: 180px;
}

/* Blue Gem */

.startCrystal {
    text-align: center;
}

.positionCenter {

    height: 75px;
    width: 150px;;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: dotted 3px #dd9933;

}


.sapphirePic {
    width: 135px;
    height: 65px;
}

 /* Footer*/

 .foot {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: #E6E6E6;
    bottom: 0;
    border-top: 5px solid #05878a;
    border-bottom: 5px solid #05878a;
}

.crtext {
    font-family: 'Signika Negative', sans-serif;
    color: #05878A;
    text-align: center;
    margin-top: 10px;
}